.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    overflow-y: auto;
    max-height: 600px; 
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}


/*** acl listing ***/
.mr5 {margin-right: 5px;}
.text-primary {color: #ff8c00 !important;}
.script-wrap {
    border: 1px solid #d8d8d8;
    position: relative;
    background: #f9f9f9;
    color: #8c8c8c;
    display: block;
    float: left;
    margin: 0 14px 5px 0;
    padding: 3px 6px;
    line-height: 17px;
    white-space: nowrap;
}

.script-text {
    margin-right: 10px;
    background: #f9f9f9;
    cursor: default;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: auto;
    width: 120px;
}

.script-wrap  span i {
    color: #727272;
}

.script-wrap a:link, .script-wrap a:visited {
    float: right;
    margin-top: 2px;
}

.script-wrap span .fa-close {
    float: right;
}

