<div>
  <angucomplete-alt 
                    placeholder="{{$ctrl.placeholder}}"
                    pause="{{$ctrl.pause}}"
                    selected-object="$ctrl.selectedObject"
                    local-data="$ctrl.localData"
                    search-fields="{{$ctrl.searchFields}}"
                    title-field="{{$ctrl.titleField}}"
                    description-field="{{$ctrl.descriptionField}}"
                    image-field="{{$ctrl.imageField}}"
                    minlength="{{$ctrl.minlength}}"
                    input-class="{{$ctrl.inputClass}}"
                    match-class="{{$ctrl.matchClass}}"
                    maxlength= "{{$ctrl.maxlength}}"	
                    selected-object-data= "$ctrl.selectedObjectData"	
                    input-name= "{{$ctrl.inputName}}"
                    clear-selected= "{{$ctrl.clearSelected}}"
                    override-suggestions= "{{$ctrl.overrideSuggestions}}"	
                    field-required= "$ctrl.fieldRequired"
                    field-required-class= "{{$ctrl.fieldRequiredClass}}"	
                    initial-value= "$ctrl.initialValue"	
                    input-changed= "$ctrl.inputChanged"
                    auto-match= "$ctrl.autoMatch"
                    focus-in= "$ctrl.focusIn"	
                    focus-out= "$ctrl.focusOut"	
                    disable-input= "$ctrl.disableInput"	
                    focus-first= "$ctrl.focusFirst"	
                    field-tabindex= "{{$ctrl.fieldTabindex}}"
                    text-searching= "{{$ctrl.textSearching}}"	
                    text-no-results= "{{$ctrl.textNoResults}}"
                    />
</div>