<div>
  <angucomplete-alt 
                    placeholder="{{$ctrl.placeholder}}"
                    pause="{{$ctrl.pause}}"
                    selected-object="$ctrl.selectedObject"
                    local-data="$ctrl.localData"
                    search-fields="{{$ctrl.searchFields}}"
                    local-search="$ctrl.localSearch"
                    title-field="{{$ctrl.titleField}}"
                    description-field="{{$ctrl.descriptionField}}"
                    image-field="{{$ctrl.imageField}}"
                    minlength="{{$ctrl.minlength}}"
                    input-class="{{$ctrl.inputClass}}"
                    match-class="{{$ctrl.matchClass}}" />
</div>