.logo {background: #283746;}
.appname {font-family: 'Raleway',sans-serif; color: #999; font-size: 12px; margin-left: -18px; padding-top: 19px;}
.pdt45 {padding-top: 45px;} 
.grey-bg {background: #e0e0e0;}
.tg-thermometer {margin: 0 auto;}

/*** slick styles ***/
.slick-container {margin: 0 auto; padding: 4px 15px;}
.slick-item {}
.slick-slide {height: auto; text-align: center;}
.slick-slide a[ng-click] {display: block; padding: 7px 0; color: #333;  background: #fdfdfd; box-shadow: 0 0 3px #b7b3b3 inset; cursor: pointer}
.slick-slide a:hover, .slick-slide a:active {background: #f5f5f5; text-decoration: none;} 
.slick-slide a:focus {outline: 0!important; text-decoration: none;}
.slick-slide img {margin: 0 auto; display: inline;}
.slick-label {font-size: 12px;padding-top: 3px;line-height: 2.4em; margin-left: 5px;}
.slick-prev:before, .slick-next:before {color: #ff8c00;}

/*** slick slide list ***/
.slick-slide a[ng-click] {width: 40px; height: 35px;}
.slick-slide img {width: 54%;}
.slick-slide .odometer-img, .slick-slide .gauge-img {width: 60%; padding-top: 4px;}

/*** tabs ***/
.md-button.md-default-theme.md-accent, .md-button.md-accent, 
md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {color: #ff8c00;}
md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {background: #ff8c00;}
.external-link {position: absolute; right: 0; top: 11px; color: #ff8c00; text-decoration: underline;}
.external-link  a {color: #ff8c00;}
.external-link .md-button._md-nav-button {padding: 0; margin: 0;  color: #ff8c00; text-transform: capitalize;}
.external-link a:focus, .external-link a:hover {color: #af6812;}


@media screen and (min-width: 768px) {
body {overflow: hidden;}
.inner-height {height: calc(100vh - 90px); clear: both;}
.inner-height > div {height: 100%;}
md-content {height: 100%; overflow-y: hidden;}    
.bg-white {display: table; text-align: center; width: 100%; height: 100%;}
.table-cell {display: table-cell; vertical-align: middle; width: 100%;}
.table-cell.map-cell {vertical-align: top;}
    .ext-content {height: 90%;}
    .CodeMirror {height: 100%; border: 1px solid #eee; border-top: none;}
    .preview-box {border-right: 1px solid #eee;}
}