<tg-thermometer-vertical
                         value="{{$ctrl.value}}"
                         size="{{$ctrl.size}}"
                         unit="{{$ctrl.unit}}"
                         max="{{$ctrl.max}}"
                         colors="$ctrl.colors"
                         percent="{{$ctrl.percent}}"
                         sectors="$ctrl.sectors"
                         ticks="$ctrl.ticks"
                         cols="{{$ctrl.cols}}"
                         height="{{$ctrl.height}}">
</tg-thermometer-vertical>