/***Plotly chart legends and grap ***/
.plotly-chart-wrapper.with-legend {/*width: calc(100% - 130px); */ float: left;}
.plotly-chart-dimension {width: 90%; height: 90%;}
.plotly-chart-legend {background: #fff; margin-top: 22px; text-align: left; float: right; overflow-y: auto; height: calc(100% - 40px); font-size: 12px;}
.plotly-chart-legend ul {padding: 0; list-style: none;}
.plotly-chart-legend::-webkit-scrollbar {
    width: 12px;
}

.plotly-chart-legend::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.plotly-chart-legend::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.gridster-mobile .plotly-chart-wrapper.with-legend {width: 100%;}
.gridster-mobile .plotly-chart-dimension {width: 100%; height: 55%;}
.gridster-mobile .plotly-chart-legend {height: auto; width: 100%; float: none; text-align: left; margin: 10px;}