<div class="wind-rose">
    <scriptr-notifications icon="$ctrl.icon" has-data="$ctrl.hasData" no-results="$ctrl.noResults" stalled-data="$ctrl.stalledData" use-popover="$ctrl.usePopover" failure-message="$ctrl.dataFailureMessage" action-message="$ctrl.actionMessage"  action-success="$ctrl.actionSuccess">
</scriptr-notifications>
    
    
	<div  ng-show="$ctrl.transformedData.length > 0" ng-style="$ctrl.style" class="plotly-chart-wrapper" ng-class="($ctrl.showLegend) ? 'with-legend' : ' ' " >
        <div class="plotly-chart-dimension">
            <angular-plotly
                            plotly-data="$ctrl.transformedData"
                            plotly-options="$ctrl.options"
                            plotly-layout="$ctrl.layout">
            </angular-plotly> 
        </div>
    </div>
    <div  class="plotly-chart-legend" ng-if="$ctrl.showLegend && $ctrl.transformedData.length > 0">
        <ul ng-repeat="entry in $ctrl.plotCustomRanges" style="list-style: none">
            <li>
                <span><i class="fa fa-square" style="color: {{entry.color}}"></i> {{entry.lo}} - {{entry.hi}} {{$ctrl.speedUnit}}</span>
            </li>
        </ul>
    </div>
</div>