@media only screen and (min-width: 0) and (max-width: 852px) {
	.display-count .value {font-size: 40px!important;}
    .inlineBoxes .display-count .value {font-size: 15px!important;}
}
@media only screen and (min-width: 853px) and (max-width: 992px) {
    .inlineBoxes .display-count .value {font-size: 2vw!important;}
}

.display-count {height: 100%;border-radius: 5px;}
.display-count div {height: 100%;}

.display-count .cells-wrapper {
    display: flex;
}

.display-count .cells-wrapper section {
 	flex: 1;
	height: auto;
    display: inline-flex;
    padding: 0 10 0 10;
}


.display-count .value-wrapper {
    height: auto!important;
    display: flex;
    flex-direction: column;
}

.display-count .value-wrapper div {
    flex: 1;
	height: auto;
    display: inline-flex;
}

.display-count .value-wrapper .cell-value{
    align-items: flex-end;
}

.display-count .value-wrapper .cell-info{
    align-items: flex-start;
}

