.horizontal-count-media .media-middle {padding: 0 10px;}
.horizontal-count-media .media-middle span {word-wrap: break-word; display: block;} 
.horizontal-count-media .pull-none {float: none;}
.horizontal-count-media .media-left {padding: 0 10px;}

.vertical-count-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .horizontal-count-media .media-middle span{ 
    margin-top:10px; 
    }
}


.display-count {height: 100%;}
.display-count div {height: 100%;}
.horizontal-count-media {height: 100%; display: table;}
.display-count .vertical-count-media {height: 50%;}