<scriptr-notifications icon="$ctrl.icon" has-data="$ctrl.hasData" no-results="$ctrl.noResults" stalled-data="$ctrl.stalledData" use-popover="$ctrl.usePopover" loading-message="{{$ctrl.loadingMessage}}" failure-message="$ctrl.dataFailureMessage" action-message="$ctrl.actionMessage"  action-success="$ctrl.actionSuccess">
</scriptr-notifications>


<!-- Messages from the backend -->
<div class="display-count" ng-if="$ctrl.value">
    <div ng-if="$ctrl.widgetLayout == 'vertical'" ng-style="{ 'border' : '{{$ctrl.borderSize}}px solid {{$ctrl.borderColor}}' }">
            <div class="vertical-count-media" ng-style="$ctrl.numberStyle">{{$ctrl.value}}</div>
            <div class="vertical-count-media" ng-style="{ 'background' : '{{$ctrl.messageBackgroundColor}}', 'font-weight' : '{{$ctrl.messageFontWeight}}', 'font-family' : '{{$ctrl.messageFontFamily}}', 'color' : '{{$ctrl.messageTextColor}}', 'text-align' : '{{$ctrl.messageTextAlignment}}' }">{{$ctrl.message}}</div>    
    </div>
	<div ng-if="$ctrl.widgetLayout == 'horizontal'" ng-style="{ 'border' : '{{$ctrl.borderSize}}px solid {{ $ctrl.borderColor}}' }">
        <div ng-if="$ctrl.numberCellSize == 'small'"    class="media horizontal-count-media">
            <div class="media-left media-middle pull-none col-xs-3" ng-style="$ctrl.numberStyle">
                <i ng-style="{ 'display' : ($ctrl.isLoading) ? 'block' : 'none' }" class="fas fa-spinner fa-spin"></i>
                <span ng-style="{ 'display' : ($ctrl.isLoading) ? 'none' : 'block' }">{{$ctrl.value}}</span>
            </div>
            <div class="media-body media-middle" ng-style="{ 'background' : '{{$ctrl.messageBackgroundColor}}'}">
                <span ng-style="{ 'color:' : '{{$ctrl.messageTextColor}}', 'font-weight' : '{{$ctrl.messageFontWeight}}', 'font-family' : '{{$ctrl.messageFontFamily}}', 'text-align' : '{{$ctrl.messageTextAlignment}}' }">{{$ctrl.message}}</span>
            </div>
         </div>
        <div ng-if="$ctrl.numberCellSize == 'medium'"    class="media horizontal-count-media">
            <div class="media-left media-middle pull-none col-xs-6 col-sm-5 col-md-6" ng-style='$ctrl.numberStyle'>
                <i ng-style="{ 'display' : ($ctrl.isLoading) ? 'block' : 'none' }" class="fas fa-spinner fa-spin"></i><span ng-style="{ 'display' : ($ctrl.isLoading) ? 'none' : 'block' }">{{$ctrl.value}}</span>
            </div>
            <div class="media-body media-middle" ng-style="{ 'background' : '{{$ctrl.messageBackgroundColor}}'}">
                <span ng-style="{ 'color' : '{{$ctrl.messageTextColor}}', 'font-weight' : '{{$ctrl.messageFontWeight}}', 'font-family' : '{{$ctrl.messageFontFamily}}', 'text-align' : '{{$ctrl.messageTextAlignment}}'}">{{$ctrl.message}}</span>
            </div>
         </div>
         <div ng-if="$ctrl.numberCellSize == 'large'"    class="media horizontal-count-media">
            <div class="media-left media-middle pull-none col-xs-10" ng-style="$ctrl.numberStyle">
                <i ng-style="{ 'display' : ($ctrl.isLoading) ? 'block' : 'none' }" class="fas fa-spinner fa-spin"></i><span ng-style="{ 'display' : ($ctrl.isLoading) ? 'none' : 'block' }">{{$ctrl.value}}</span>
            </div>
            <div class="media-body media-middle" ng-style="{ 'background' : '{{$ctrl.messageBackgroundColor}}' }">
                <span ng-style="{ 'color' : '{{$ctrl.messageTextColor}}', 'font-weight' : '{{$ctrl.messageFontWeight}}', 'font-family' : '{{$ctrl.messageFontFamily}}', 'text-align' : '{{$ctrl.messageTextAlignment}}' }">{{$ctrl.message}}</span>
            </div>
         </div> 
         <div ng-if="$ctrl.numberCellSize == ''"    class="media horizontal-count-media">
            <div class="media-left media-middle pull-none" ng-style="$ctrl.numberStyle">
                <i ng-style="{ 'display' : ($ctrl.isLoading) ? 'block' : 'none' }" class="fas fa-spinner fa-spin"></i><span ng-style="{ 'display' : ($ctrl.isLoading) ? 'none' : 'block' }">{{$ctrl.value}}</span>
            </div>
            <div class="media-body media-middle" ng-style="{ 'background' : '{{$ctrl.messageBackgroundColor}}' }">
                <span ng-style="{ 'color' : '{{$ctrl.messageTextColor}}', 'font-weight' : '{{$ctrl.messageFontWeight}}', 'font-family' : '{{$ctrl.messageFontFamily}}', 'text-align' : '{{$ctrl.messageTextAlignment}}' }">{{$ctrl.message}}</span>
            </div>
        </div>    
    </div>  
</div>