<scriptr-notifications icon="$ctrl.icon" has-data="$ctrl.hasData" no-results="$ctrl.noResults" stalled-data="$ctrl.stalledData" use-popover="$ctrl.usePopover" loading-message="{{$ctrl.loadingMessage}}" failure-message="$ctrl.dataFailureMessage ? $ctrl.dataFailureMessage : $ctrl.stalledDataMessage ? $ctrl.stalledDataMessage : $ctrl.invalidData ? $ctrl.invalidData : '' " action-message="$ctrl.actionMessage"  action-success="$ctrl.actionSuccess">
</scriptr-notifications>


<!-- Messages from the backend -->
<div class="display-count" ng-if="$ctrl.value != null">
    
    <div ng-if="$ctrl.widgetLayout == 'vertical'" ng-style="$ctrl.containerStyle">
      <div class="cells-wrapper" ng-style='{"flex-direction": ($ctrl._messagePosition == "top") ? "column-reverse" : "column" }'>
        <section ng-style="$ctrl.valueStyle">
            <div class="value-wrapper">
                <div class="cell-value">{{$ctrl.value}}{{$ctrl.unit}}</div>
                <div class="cell-info" ng-show="$ctrl.info != ''" ng-style="$ctrl.infoStyle" translate>{{$ctrl.info}}</div>
            </div>
        </section>
        <section class="cell-message" ng-style="$ctrl.messageStyle" translate>{{$ctrl.message}}</section>
      </div>
    </div>
    
	<div ng-if="$ctrl.widgetLayout == 'horizontal'" ng-style="$ctrl.containerStyle">
        <div class="cells-wrapper" ng-style='{"flex-direction": ($ctrl._messagePosition == "left") ? "row-reverse" : "row" }'>
            <section  class="cell-value" ng-style="$ctrl.valueStyle" >
                 <div class="value-wrapper">
                    <div class="cell-value">{{$ctrl.value}}{{$ctrl.unit}}</div>
                    <div class="cell-info" ng-show="$ctrl.info != ''" ng-style="$ctrl.infoStyle" translate>{{$ctrl.info}}</div>
                </div>
            </section>
            <section class="cell-message" ng-style="$ctrl.messageStyle" translate>{{$ctrl.message}}</section>
         </div>
    </div>  
</div>