<scriptr-notifications icon="$ctrl.icon" has-data="$ctrl.hasData" no-results="$ctrl.noResults" stalled-data="$ctrl.stalledData" use-popover="$ctrl.usePopover" loading-message="{{$ctrl.loadingMessage}}" failure-message="$ctrl.dataMessage" action-message="$ctrl.actionMessage"  action-success="$ctrl.actionSuccess">
</scriptr-notifications>

<div ng-if="$ctrl.datas && $ctrl.datas.length > 0">
    <ng-dygraphs 
                 data="$ctrl.datas"
                 options="$ctrl.options"
                 legend="$ctrl.legend"
                 series-visibility="$ctrl.seriesVisibility"
                 annotations="$ctrl._annotations"
                 >
    </ng-dygraphs>
</div>
