<scriptr-notifications icon="$ctrl.icon" has-data="$ctrl.hasData" no-results="$ctrl.noResults" stalled-data="$ctrl.stalledData" use-popover="$ctrl.usePopover" failure-message="$ctrl.dataFailureMessage" loading-message="{{$ctrl.loadingMessage}}" action-message="$ctrl.actionMessage"  action-success="$ctrl.actionSuccess">
</scriptr-notifications>

<div ng-if="$ctrl.max" ng-style="$ctrl.style" class="slider">
    <rzslider  class="{{$ctrl.theme}}"
              rz-slider-model="$ctrl.min"
              rz-slider-high="$ctrl.max"  
              rz-slider-options="$ctrl.options"  
              >
    </rzslider>
</div>
<div ng-if="!$ctrl.max" ng-style="$ctrl.style"  class="slider">    
    <rzslider class="{{$ctrl.theme}}"
              rz-slider-model="$ctrl.min"
              rz-slider-options="$ctrl.options"  
              >
    </rzslider>
</div>    