<div 
     value={{$ctrl.gaugeValue}}
     value-font-color={{$ctrl.valueFontColor}}
     min={{$ctrl.min}}
     max={{$ctrl.max}}
     hide-min-max={{$ctrl.hideMinMax}}
     hide-value={{$ctrl.hideValue}}
     hide-inner-shadow={{$ctrl.hideInnerShadow}}
     gauge-color={{$ctrl.gaugeColor}}
     show-inner-shadow={{$ctrl.showInnerShadow}}
     shadow-opacity={{$ctrl.shadowOpacity}}
     shadow-size={{$ctrl.shadowSize}}
     custom-sectors={{$ctrl.customSectors}}
     label={{$ctrl.label}}
     label-font-color={{$ctrl.labelFontColor}}
     start-animation-type={{$ctrl.startAnimationType}}
     refresh-animation-type={{$ctrl.refreshAnimationType}}
     counter={{$ctrl.counter}}
     justgage>
</div>
