<div 
     value={{fuelValue}}
     value-font-color={{valueFontColor}}
     min={{min}}
     max={{max}}
     hide-min-max={{hideMinMax}}
     hide-value={{hideValue}}
     hide-inner-shadow={{hideInnerShadow}}
     gauge-color={{gaugeColor}}
     show-inner-shadow={{showInnerShadow}}
     shadow-opacity={{shadowOpacity}}
     shadow-size={{shadowSize}}
     custom-sectors={{customSectors}}
     label={{label}}
     label-font-color={{labelFontColor}}
     start-animation-type={{startAnimationType}}
     refresh-animation-type={{refreshAnimationType}}
     counter={{counter}}
     justgage>
</div>
