/*** header ***/
header {background: #283746;}
header {height: 45px; position: fixed; top: 0; z-index: 999; width: 100%;}

/*** logo ***/
.logo {background: #5477a0; width: 200px; height: 45px; text-align: center; padding: 9px 0 0 20px;}
.username {background: #5477a0;}
#username-button {line-height: 2.4; border: none; background: none; box-shadow: none;}
.header-items-button {
    line-height: 2.4;
    border: none;
    background: none;
    box-shadow: none;
}
/*** logout ***/
.logout a:link, .logout a:visited {height: 45px; border: none; color: #fff; display: block; padding: 10px 13px 13px 12px;}
.logout {border-left: 1px solid rgba(255,255,255,0.5);}
.logout:hover, .logout:focus {background: #64798e;}

/*** header items ***/
.header-items {padding-right: 5px;}
.header-items a {color: #fff; padding: 12px 13px 12px 12px; display: block; font-size: 15px; font-weight: bold;}
.header-items a:hover, .header-items a:focus {background: #64798e; text-decoration: none;}
.header-items a.selected {text-decoration: none;}
.header-items i {margin-right: 4px;}
.header-items .item {margin-right: 10px;}

/*** appname ***/
.appname {padding-top: 14px; color: #fff;}

/**submenu**/
.dropdownContainer {height: 45px;}
.dropdownContainer .menuContent {padding: 12px 13px 12px 12px; height: 100%; color: #FFF; border: 0; background-color: #64798e; font-weight: bold; font-size: 15px;}
.dropdownContainer .menuContent:hover,.dropdownContainer .menuContent:focus, .dropdownContainer .menuContent.selected {background-color: #64798e;}
.dropdownContainer:hover>.menuContent {
    background-color: #64798E!important;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.dropdown-menu.subMenu li {padding: 0;}
.dropdown-menu.subMenu li a.selected {background-color: #64798e;}
.dropdown-menu.subMenu li a:hover {background-color: #64798e;}


.header-items .btn-group:hover>.dropdown-menu, .username  .btn-group:hover>.dropdown-menu{
  display: block;
}


