<header>
  <!-- begin logo -->
  <div class="logo pull-left">
  	<img src="{{$ctrl.logo}}" class="img-responsive" />
  </div>
  <!-- end logo -->
  
  <!-- begin appname -->
  <div class="pull-left username">
    {{$ctrl.appname}}
  </div>
  <!-- end appname -->
  
  <!-- begin user -->
  <div class="pull-left username">
    {{$ctrl.user}}
  </div>
  <!-- end user -->

  <div  class="pull-right">
      <!-- begin items in header -->
      <div class="header-items pull-left">
        <div ng-repeat="item in $ctrl.items track by $index" class="pull-left">
        	<a href="{{item.route}}"><i class="{{item.icon}}" aria-hidden="true"></i>{{item.label}}</a>
      	</div>
      </div>
      <!-- end items in header -->
      <!-- begin header side items -->
      <div ng-show="$ctrl.logout" class="pull-left logout">
        <!-- begin logout -->  
        <span>
          <a ng-href="{{$ctrl.logout.route}}"><i class="fa fa-power-off" aria-hidden="true"></i></a>
        </span>
      </div>
      <!-- end header side items -->
  </div>
</header>
