<header>
  <!-- begin logo -->
  <div class="logo pull-left">
  	<img src="{{$ctrl.logo}}" class="img-responsive" />
  </div>
  <!-- end logo -->
  
  <!-- begin appname -->
  <div class="pull-left appname">
    {{$ctrl.appname}}
  </div>
  <!-- end appname -->

  <div  class="pull-right">
      <!-- begin items in header -->
      <div class="header-items pull-left">
        <div ng-repeat="item in $ctrl.items track by $index" class="pull-left">
        	<a href="{{item.route}}"><i class="{{item.icon}}" aria-hidden="true"></i> {{item.label}}</a>
      	</div>
      </div>
      <!-- end items in header -->
      <!-- begin header side items -->
      <div class="pull-left username">
      <!-- Single button -->
      <div class="btn-group" uib-dropdown is-open="status.isopen">
        <button id="username-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
          <i class="fa fa-user-circle"></i> {{$ctrl.user}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right"  uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="item in $ctrl.subitems track by $index"><a href="{{item.route}}"><i class="{{item.icon}}" aria-hidden="true"></i> {{item.label}}</a></li>
          <li ng-show="$ctrl.logout && $ctrl.subitems.length > 0" class="divider"></li>
          <li ng-show="$ctrl.logout" role="menuitem" ><a href="{{$ctrl.logout.route}}"><i class="{{$ctrl.logout.icon}}" aria-hidden="true"></i> {{$ctrl.logout.label || "Logout"}}</a></li>
        </ul>
      </div>

      </div>
      <!-- end header side items -->
  </div>
</header>
