<div class="map-wrap">
	<section   
		ng-if="$ctrl.clusteredView == true && $ctrl.showDetailedMap == false">
		<ng-map id="{{'clustered-'+$ctrl.$wdgid}}"
			on-zoom_changed="$ctrl.onClusteredZoomChanged();"
			single-info-window="true" zoom-to-inlude-markers="true"
			center="{{$ctrl.mapcenter || $ctrl.defaultcenter}}"
			zoom="{{$ctrl.clusterZoom}}"> <drawing-manager
			ng-if="$ctrl.geofenceManager == true"
			on-overlaycomplete="$ctrl.onMapOverlayCompleted()"
			drawing-control-options="{{$ctrl.drawingOptions}}"
			drawingControl="{{$ctrl.drawingControl}}" drawingMode="null"
			rectangleOptions="{{$ctrl.overlaySettings}}"
			polygonOptions="{{$ctrl.overlaySettings}}"
			circleOptions="{{$ctrl.overlaySettings}}">
		</drawing-manager> </ng-map>
		<div class="messages" ng-show="$ctrl.drawingMessages != null">
			<div class="alert alert-warning">{{$ctrl.drawingMessages}}</div>
		</div>
		<div class="heatmap" ng-if="$ctrl.heatmap == true">
			<h5>Enable Heatmap</h5>
			<span> <scriptr-toggle-switch resize="false"
					on-switch-change="$ctrl.activateHeatMap"
					switch-status="$ctrl.switchStatus"
					class="switch-success switch-small"></scriptr-toggle-switch>
			</span>
		</div>
	</section>
	<section
		ng-if="$ctrl.clusteredView == false || $ctrl.showDetailedMap == true">
		<ng-map id="{{'detailed-'+$ctrl.$wdgid}}"
			on-zoom_changed="$ctrl.onDetailedZoomChanged();"
			single-info-window="true" zoom-to-inlude-markers="true"
			center="{{$ctrl.mapcenter || $ctrl.defaultcenter}}"
			zoom="{{$ctrl.detailedmapzoom}}" on-click="$ctrl.hideinfoWindow()">
		<drawing-manager ng-if="$ctrl.geofenceManager == true"
			on-overlaycomplete="$ctrl.onMapOverlayCompleted()"
			drawing-control-options="{{$ctrl.drawingOptions}}"
			drawingControl="{{$ctrl.drawingControl}}" drawingMode="null"
			rectangleOptions="{{$ctrl.overlaySettings}}"
			polygonOptions="{{$ctrl.overlaySettings}}"
			circleOptions="{{$ctrl.overlaySettings}}">
		</drawing-manager>
		<div>
			<div ng-repeat="(key, asset) in $ctrl.displayedAssets" ng-if="$ctrl.heatmap != true && $ctrl.switchStatus != true">
				<shape name="polyline" path="{{asset.path}}"
					stroke-color="{{asset.pathColor}}"
					stroke-opacity="{{asset.strokeOpacity}}"
					stroke-width="{{asset.strokeWeight}}" icons="{{asset.pathIcon}}">
				</shape>
				<div ng-repeat="marker in asset.markers track by $index">
					<div ng-if="$ctrl.trackedAsset == null">
						<marker position="{{marker.position}}" title="{{marker.details.name.value}}"
							animation={{marker.animation}} icon="{{marker.icon}}"
							data="{{marker.id}}"
							on-click="$ctrl.showAssetInfo(event, 'click', marker, '{{marker.assetKey}}', '{{marker.tripKey}}', '{{marker.id}}')"
							on-mouseover="$ctrl.showAssetInfo(event, 'mouseover', marker, '{{marker.assetKey}}', '{{marker.tripKey}}', '{{marker.id}}')">
						</marker>
					</div>
					<div ng-if="$ctrl.trackedAsset !=null">
						<marker position="{{marker.position}}" title="{{marker.title}}"
							animation={{marker.animation}} icon="{{marker.icon}}"
							clickable="false"></marker>
					</div>
				</div>
				<!-- end trip markers loop -->
			</div>
		</div>
		<div ng-if="$ctrl.markerInfoWindow == true">
			<div ng-transclude></div>
			<info-window id="{{'infoWindowTemplate_default_'+$ctrl.$wdgid}}">
			<div ng-non-bindable="">
				<!-- begin table -->
				<table class="table table-bordered">
					<thead>
						<tr>
							<th ng-repeat="(key, value) in marker.details">{{key}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td ng-repeat="(key, value) in marker.details">{{value.value
								|| "N/A"}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			</info-window>
		</div>
		<!--heatmap-layer ng-if="$ctrl.heatmap == true"></heatmap-layer--> </ng-map>

		<div class="messages" ng-show="$ctrl.drawingMessages != null">
			<div class="alert alert-warning">{{$ctrl.drawingMessages}}</div>
		</div>
		<div class="heatmap" ng-if="$ctrl.heatmap == true">
			<h5>Enable Heatmap</h5>
			<span> <scriptr-toggle-switch resize="false"
					on-switch-change="$ctrl.activateHeatMap"
					switch-status="$ctrl.switchStatus"
					class="switch-success switch-small"></scriptr-toggle-switch>
			</span>
		</div>
	</section>

	<div>
		<div ng-if="$ctrl.geofenceManager == true"
			class="drawingmanager-buttons">
			<span> <a ng-click="$ctrl.hideShowGeofences()"
				title="Hide all geofences"><i class="fa"
					ng-class='{"fa-eye-slash":  $ctrl.geofencesVisible, "fa-eye": !$ctrl.geofencesVisible }'
					aria-hidden="true"></i> </a>
			</span> <span> <a ng-click="$ctrl.clearAllGeofences()"
				title="Erase all geofences"><i class="fa fa-eraser"
					aria-hidden="true"></i> </a>
			</span>
		</div>
		<div ng-if="$ctrl.geofenceManager == true"
			class="drawingmanager-action-buttons">
			<button class="btn btn-primary btn-sm btn-block"
				ng-click="$ctrl.saveAllGeofences()" data-toggle="tooltip"
				title="Save all geofences">Save</button>
		</div>
	</div>
</div>
<div class="geofence-menu">
	<a title="Configure this widget"
		ng-click="$ctrl.editSelectedGeofenceSettings()"> <i
		class="glyphicon glyphicon-pencil"></i>
	</a> <a title="Remove this widget"
		ng-click="$ctrl.removeSelectedGeofence()"> <i
		class="glyphicon glyphicon-trash"></i>
	</a>
</div>