body {background: #e9edf0; font-family: 'Varela Round', sans-serif; padding-top: 0px;}

/**Print**/
.printable {display: none;}

.car-wash .well {border-radius: 0; background: #becdd4; padding: 5px 0; margin-bottom: 0; height:auto; }
.car-wash .well p {margin: 10px 15px;}
.car-wash .well .btn {margin: 5px 15px 0 0; background: #99b5be; border: none; text-transform: capitalize; font-size: 13px;
color: #fff; border-radius: 2px; padding: 6px 15px;}
.car-wash .well .btn-default.active.focus, 
.car-wash .well .btn-default.active:focus, 
.car-wash .well .btn-default.active:hover, 
.car-wash .well .btn-default:active.focus, 
.car-wash .well .btn-default:active:focus, 
.car-wash .well .btn-default:active:hover, 
.car-wash .well .open>.dropdown-toggle.btn-default.focus, 
.car-wash .well .open>.dropdown-toggle.btn-default:focus, 
.car-wash .well .open>.dropdown-toggle.btn-default:hover {background: #becdd4; color: #fff; border: none;}


.car-wash .card-text {color: #1a5571;}
.car-wash .card-title {margin: 0; color: #78abc2; text-transform: uppercase; font-weight: bold;padding: 0 15px;font-size: 16px;}
.car-wash .card-title .text-muted {text-transform: initial;font-weight: normal;display: block;font-size: 65%;margin: 5px 0;}
.car-wash .Aligner-item--top .card-title {padding: 10px 0 0;}
.car-wash .Aligner-item--top .washing-types img {clear: left;float: left;margin-right: 15px;}
.car-wash .Aligner-item--bottom .card-title {padding: 0 0 10px;}
.car-wash .Aligner-item--bottom .card-text {margin: 0; line-height: 1em;}
.car-wash .Aligner-item--bottom .washing-types {margin-top: 40px;}
.car-wash .Aligner-item--bottom .washing-types img {margin-left: 15px;clear: right;float: right;}
.car-wash .washing-types {padding: 0;margin: 15px 0;}
.car-wash .washing-types li {margin-bottom: 10px;list-style-type: none;}
.car-wash .washing-types p {font-size: 22px;margin-bottom: 0;line-height: 1em;min-height: 22px;}
.car-wash .washing-types img {width: 30px;}
.car-wash .Aligner {padding: 15px 0;min-height: 240px;}
.fnt15 {font-size: 15px;}
.fnt35 {font-size: 35px;}
.fnt30 {font-size: 30px;}
.fnt45 {font-size: 45px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.car-wash .panel-heading .sub-heading {float: right; font-weight: bold;}
.car-wash .panel .card-title {color: #fff; margin-bottom: 5px;}
.car-wash .panel .card {background: rgba(35, 170, 234, 0.5);}
.car-wash .panel .card-text {color: #04587f;}
.car-wash .panel .badge {background: #1a5571; font-size: 18px; padding: 3px 20px; border-radius: 15px;}
.car-wash .panel-title {color: #1a5571; margin-bottom: 10px; font-weight: bold;}
.car-wash .filter {margin: 0 -15px; padding: 20px 18px; background: #fff; box-shadow: 0 0 3px #888; margin-bottom: 20px;}
.car-wash .light-widget {margin: 0 0 0 10px;}

/** BIG BOX ***/
.Aligner {
  min-height: 11em;
  justify-content: center;
  background-color: #FFF;
  box-shadow: 0 0 3px #c3c2c2;
  margin-bottom: 10px;

}

.flex-aligner {
	display: flex;
    align-items: center;
    width: 100%;
}

.Aligner-item {
  flex: 1;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}

/**current data**/
.wash-list {
    list-style-type: none;
    clear: both;
    padding: 0;
    margin: 15px 0 0;
}
.wash-list li {font-size: 22px;color: #1a5571;margin-bottom: 0;padding: 0 15px;}
.wash-list li:nth-child(odd) {background: #F6F6F6}
.wash-list li p {margin: 3px 0 0;padding: 0;}
.wash-list li p.pre-value {color: #777;}
.wash-list li .list-label {font-size: 16px;color: #78abc2;line-height: 30px;}

/** SMALL BOX ***/	
.wash-section {
    width: 100%;
    display: inline-block;
    box-shadow: 0 0 3px #3a7590 inset;
    background-color: #81adc1;
    color: #FFF;
    padding: 15px 0;
}

.wash-section .header {padding: 5px 15px 0; top: 70px;}
.wash-section .date {line-height: 1;color: #FFF;display: block;}

.wash-section .previous-values {text-align: right;padding-top: 25px;}
.wash-section .previous-values img {float: right;clear: right;margin-left: 15px;}
.wash-section .previous-values .date {padding: 0 0 10px;}
.wash-section .current-values img {float: left;clear: left;margin-right: 15px;}
.wash-section .current-values .date {padding: 10px 0 0;}

.wash-section .nb {
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}

.wash-section .wash-list li {color: #FFF;}
.wash-section .wash-list li:nth-child(even) {background-color: #70a2b9;}
.wash-section .wash-list li:nth-child(odd) {background-color: #81adc1;}
.wash-section .wash-list li p.pre-value {color: #FFF;}
.wash-section .wash-list li .list-label {color: #FFF;}

.round-btn a:link, .round-btn a:visited{background-image:-webkit-linear-gradient(top, #ffffff, #f5f5f5);}
.btn-shadow a:link, .btn-shadow a:visited {border: none;}
.car-wash .text-green {
    color: #84d064;
}

.car-wash .text-red {
    color: #d05d4f;
}
.car-wash .panel-default {margin-bottom: 0;}

.car-wash .panel-heading h4 {margin: 7px 0 0}
.car-wash .panel-heading .text-muted {line-height: 2.6em;}
.car-wash-name {font-weight: bold; font-size: 20px;}
.car-wash-name i {display: inline-block;}
.car-wash-name i.fa-ban {color: #AAA;}
.car-wash-name i.fa-tint {color: #1a5571;}
.carNumber {
    margin: 10px 0;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #FFF;
    padding: 5px 10px 5px 5px;
    height: 37px;
    float: left;
    border-radius: 5px;
    border: 1px solid #000;
    background: #1e5799;
    background: -moz-linear-gradient(left, #1e5799 0%, #2779be 30px, #ffffff 30px, #ffffff 100%);
    background: -webkit-linear-gradient(left, #1e5799 0%,#2779be 30px,#ffffff 30px,#ffffff 100%);
    background: linear-gradient(to right, #1e5799 0%,#2779be 30px,#ffffff 30px,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=1 );
}

.carNumber .flag {width: 18px;float: left;margin: 3px 13px 3px 1px;}
.carNumber span {display: inline-block;margin-top: 5px;}

.washType {font-size: 0.8em;color: #AAA;display: inline-block;}
.car-wash-state {font-size: 20px; }
.count-down {float: left;}

.count-down .num {background-color: #f47676;padding: 4px 8px;color: #FFF;font-size: 16px;display: inline-block;margin-right: 2px;}
.count-down.idle .num {background-color: #70aec2;}

.count-down .num span {margin-left: 2px;font-size: 9px;width: 100%;}


/************ Screens *************/
@media screen and (min-width: 768px) {
    .carNumber {float: right;margin: 0 0 5px;}
     main {display: flex; min-height: calc(100vh - 20px);}
	.menu-wrap {margin-top: 45px!important; display: flex; height: auto!important;}
   	 main>section{flex: 1; box-sizing: border-box; width: 100%; overflow: hidden;}
  	.page-content {height: calc(100vh - 20px); position: relative; margin-top: 45px;}
    /**.side-bar.md {width: 100px;}
    .side-bar.md .nav-pills>li {
    	 width: 100px; 
	}**/
}

@media (max-width:767px) {
    .menu-wrap {position: relative; z-index: 1;}
    header {position: relative; margin-top: -10px;}
}


.logo {background: transparent;}
.username {background: transparent;}
.level-bg-0 {
    background: #70aec2;
}
header {
    background: #70aec2;
    height: auto;
}

/************ PRINT *************/
@media print {

    html {color:#000!important;}
    @page  { 
        size: 90%;   /* auto is the initial value */ 

        /* this affects the margin in the printer settings */ 
        margin: 2cm 0.5cm;  
    } 
	
	body  
	{ 
	    /* this affects the margin on the content before sending to printer */ 
	    margin: 0px;
	    padding: 10px;
	    height: auto!important;
	    font-size: 14px!important;
        transform: scale(.9);
	} 
	
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0; padding:0; font-family:Arial, sans-serif !important;}
	table {border-collapse:collapse; border-spacing:0;}
	fieldset,img {border:0;}
	address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
	li {list-style:none;}
	.text-container li {list-style-type: inherit}
	.text-container li {list-style-type: inherit}
	caption,th {text-align:left;}
	h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;margin-bottom: 30px;}
	q:before,q:after {content:'';}
	abbr,acronym {border:0; font-variant:normal;}
	sup {vertical-align:text-top;}
	sub {vertical-align:text-bottom;}
	input,textarea,select {font-family:inherit; font-size:inherit; font-weight:inherit;}
	input,textarea,select {*font-size:100%;}
	legend {color:#000;}
	code {display:inline;text-indent:3px;}
	h1 {font-size:138.5%;}
	h2 {font-size:123.1%;}
	h3 {font-size:108%;}
	h1,h2,h3 {margin:1em 0;}
	h1,h2,h3,h4,h5,h6,strong {font-weight:bold;}
	abbr,acronym {border-bottom:1px dotted #000; cursor:help;}
	em {font-style:italic;}
	blockquote,ul,ol,dl {margin:1em;}
	ol,ul,dl {margin-left:2em;}
	.zainweb ol li, .selfcare ol li {list-style:decimal outside;}
	.zainweb ul li, .zainweb ol li {list-style:disc outside;}
	dl dd {margin-left:1em;}
	th,td {border:1px solid #000; padding:.5em;}
	th {font-weight:bold; text-align:center;}
	tr,img {page-break-inside: auto;}
	caption {margin-bottom:.5em; text-align:center;}
	p,fieldset,table,pre {margin-bottom:1em;}
	input[type=text],input[type=password],textarea {width:12.25em; *width:11.9em;}
	*:before, *:after {margin-left: 5px;}
	a[href]:after {direction: ltr;display: inline-block;}
	a.btn[href]:after {display: none;}
	
	a {color:#000 !important; text-decoration:underline;}
	
	.not-printable {display: none!important;}
	.printable {display: block!important;}
	
	form {
		display: none!important;
	}
    
    header h1 {font-size: 1.4em;margin-bottom: 15px;}
    header h2 {font-size: 1.1em;margin-bottom: 30px;}
    
    table {border: none;}
    table tr {border-right: 1px solid #000;}
    table tr:nth-child(even) {background-color: #EFEFEF;}
    table thead th {padding: 10px 20px;background-color: #DDD;color: #000;font-size: 1.2em;text-transform: uppercase;text-align: center;border-right: 1px solid #000;border-bottom: 1px solid #000;}
    table thead th:first-child {text-align: left;}

    table tbody th {padding: 0 20px;text-align: left;border-right: 1px solid #000;border-bottom: 1px solid #000;}
    table tbody td {text-align: center;border-right: 1px solid #000;border-bottom: 1px solid #000;}

    table tbody tr:last-child th {font-size: 1.2em;text-transform: uppercase;font-weight: bold;padding: 5px 20px;}
    table tbody tr:last-child td {font-weight: bold;font-size: 1.2em;}
    table tbody td.noBorder{border: 0px;}
}

/** Carla's changes **/

.img-responsive { width: 80%; }
#username-button { line-height: 0; }
.username-button i { font-size: 32px; }
.username-button .caret-label { position: relative; bottom: 5px; margin: 0 4px; }
.username-button .caret { position: relative; bottom: 5px; }
.dropdown-menu { padding: 0 0; border: none;}
.dropdown-menu .divider { margin: 3px 0; }
.dropdown-menu>li>a { padding: 5px 15px; font-size: 13px; }
.well { border: none;}
.car-wash .gaz-icon { margin-right: 5px;}
.car-wash .caret { margin-left: 5px; }
.car-wash-name .washName { margin-right: 5px; }
@media (min-width: 768px) {
	.side-bar .nav-pills>li a { padding: 15px 0; }
    .side-bar .nav-pills>li i { margin-right: 10px; }
}

/** login page **/
.wrap h4 { text-align: center; }
.form-wrap {padding: 40px 15px; }

.form-group { width: 180px;}

.msgError{color: #ef4434; border: 1px solid #ef4434;clear:both;padding:15px;margin: 15px;}