<div class="box" ng-class="{'box-without-header' : ($ctrl.widget.options.boxHeader == 'false') ,  'vertical' : ($ctrl.widget.sizeX == 1)}">
    <div class="box-header-btns pull-right">
        <div class="btn-group" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
            <button id="btn-append-to-body" type="button" class="btn btn-primary wrench-icon radius4" uib-dropdown-toggle>
                <i class="glyphicon glyphicon-cog"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right header-sub" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem"> <a title="Remove this widget" ng-click="$ctrl.remove($ctrl.widget)">
                    <i class="glyphicon glyphicon-trash"></i>
                    </a></li>
                <li role="menuitem"><a title="Configure this widget" ng-if="$ctrl.widget.form" ng-click="$ctrl.openSettings($ctrl.widget)">
                    <i class="glyphicon glyphicon-cog"></i>
                    </a></li>  
                <li role="menuitem" ><a class="drag-box" title="Drag this widget"><i class="glyphicon glyphicon-move"></i></a></li>
                </li>
            </ul>
    </div>
</div>
<div class="box-header">
    <div class="box-label"><span tooltip-append-to-body="true" uib-tooltip="{{$ctrl.widget.options.boxLabel}}">{{$ctrl.widget.options.boxLabel}}</span></div>
</div>
<div class="clearfix"></div>
<div class="box-content" ></div>
</div>
