<div ng-if="$ctrl.custom">
  <div ng-if="$ctrl.showDashboard && !$ctrl.switchStatus">
    <div class="col-xs-12 col-sm-4">
      <div class="dashboard-toolbar">
        <ul>
          <li ng-click="$ctrl.showDashboard = false"><a href="javasscript:void(0);"><i class="fa fa-angle-double-left"></i> Back to dashboard listing</a></li>
          </div>
      </div>
      <div class="col-xs-12 col-sm-8 pull-right">
        <ul class="pull-right">
          <li class="dashboard-edit-btn"><span><i class="fa fa-pencil" aria-hidden="true"></i> Enable dashboard editor</span>
            <toggle-switch
                           ng-model="$ctrl.switchStatus"
                           class="switch-success switch-mini">
            </toggle-switch>
          </li>
        </ul>        
      </div>
    </div>
    <div ng-if="!$ctrl.showDashboard" class="container">
      <div ng-click="$ctrl.addCustomDashboard()" class="col-xs-12 mb20">
        <div class="box-shadow text-white add-dashboard">
          <div class="col-xs-12 text-center"> 
            <h5 class="box-title text-uppercase">Add custom dashboard</h5>
          </div>
          Create and manage visually your dashboard.
          <div><button type="button" class="btn btn-warning add-btn"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button></div>
        </div>
      </div>
      <div ng-repeat="dashboard in $ctrl.customDashboards track by $index" class="col-xs-12 col-sm-4 mb20 custom-dashboard-box">
        <div index="{{scriptName = dashboard.path}}" class="box-shadow bg-white">
          <div class="col-xs-12 added-box-title text-left">
            <div class="pull-left"><h4 onaftersave="$ctrl.renameDashboard(dashboard.name, dashboard.path)"  href="#" editable-text="dashboard.name">{{dashboard.name}}</h4></div>
            <div class="pull-right remove-widget">    
              <a title="Remove widget" ng-click="$ctrl.deleteDashboard(dashboard.path)"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
          </div>
          <div class="clickable">
            <div ng-click="$ctrl.showCustomDashboard(scriptName)" class="col-xs-12 center-div custom-widget-icon">
              <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <iframe ng-if="!$ctrl.switchStatus && $ctrl.showDashboard" class="dashboard-iframe" width="100%" height="800px" src="{{$ctrl.trustSrc($ctrl.dashboardScriptName)}}" frameborder="0" allowfullscreen></iframe>
    <scriptr-publisher
                       msg-tag = "homeCustomDashboard"
                       on-format-data="$ctrl.homeCallback"> 
    </scriptr-publisher>
</div>


<div ng-if="($ctrl.switchStatus && $ctrl.showDashboard) || !$ctrl.custom">
  <!-- begin left side -->
  <div ng-if="!$ctrl.isInIde && $ctrl.showTree" class="left-dashboard">
    <div class="grey-bg pdt5 col-xs-12 devices-models-tree">
      <scriptr-searchbox 
                         transport="https"
                         load-tree = "$ctrl.loadTree"
                         icon-expand = "{{$ctrl.iconExpand || 'fa expand-collapse fa-caret-right'}} "
                         icon-collapse = "{{$ctrl.iconCollapse || 'fa expand-collapse fa-caret-right'}}"
                         tree-search-criteria = "{{$ctrl.treeSearchCriteria}}"
                         api='{{$ctrl.devicesModel}}'
                         on-select="$ctrl.selectBranch"
      </scriptr-searchbox>
    </div>
  </div>
  <!-- end left side -->

  <!-- begin dashboard content -->
  <div class="dashboard-content">
      <!-- begin page header -->
      <div ng-if="!$ctrl.custom" class="page-header col-xs-12">
           <div ng-if="$ctrl.show" uib-alert ng-class="'alert-' + ( $ctrl.message.type || 'warning')  + ' m10'" close="$ctrl.closeAlert()" dismiss-on-timeout="5000">{{$ctrl.message.content}}</div>
           <form name="scriptForm" ng-submit="$ctrl.saveDashboard(scriptForm)">
            <div class="form-group col-xs-12 col-sm-6">
              <div class="row">
                <div class="col-xs-12 col-sm-10 pdl10 pdr0"><div ng-if="!$ctrl.isInIde" sf-options="$ctrl.frmGlobalOptions" sf-schema="$ctrl.schema" sf-form="$ctrl.form" sf-model="$ctrl.model" ></div>
                </div>
                <div class="col-xs-12 col-sm-2 pdl0"><button class="btn-sm  btn btn-warning ml5 btn-block"  type="submit" ng-if="!$ctrl.isInIde"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 pull-right">
               <a class="pull-right btn btn-sm btn-warning ml5" ng-if="!$ctrl.isInIde" ng-click="$ctrl.logout()"><i class="fa fa-user-circle" aria-hidden="true"></i> Logout</a>
               <a class="pull-right btn btn-sm btn-warning ml5"  ng-click="$ctrl.clear()"><i class="fa fa-trash" aria-hidden="true"></i> Clear</a>
               <a class="pull-right btn  btn-sm btn-warning ml5" ng-click="$ctrl.setTransportSettings()"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
               <a class="pull-right  btn-sm  btn btn-warning ml5" ng-if="!$ctrl.isInIde" ng-if="$ctrl.isEdit" ng-click="$ctrl.viewDasboard()"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
            </div>
          </form>
      </div>	
      <!-- end page header -->
    <div ng-if="$ctrl.custom"  class="page-header col-xs-12">
      <div ng-if="$ctrl.show" uib-alert ng-class="'alert-' + ( $ctrl.message.type || 'warning')  + ' m10'" close="$ctrl.closeAlert()" dismiss-on-timeout="5000">{{$ctrl.message.content}}</div>

      <div class="col-xs-12 col-sm-4">
        <div class="dashboard-toolbar">
          <ul>
            <li ng-click="$ctrl.showDashboard = false"><a href="javasscript:void(0);"><i class="fa fa-angle-double-left"></i> Back to dashboard listing</a></li>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 pull-right">
          <span>
            <a class="pull-right btn btn-sm btn-warning ml5"  ng-click="$ctrl.clear()"><i class="fa fa-trash" aria-hidden="true"></i> Clear</a>
            <a class="pull-right  btn-sm  btn btn-warning ml5" ng-click="$ctrl.viewDasboard()"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
            <a class="pull-right btn  btn-sm btn-warning ml5" ng-click="$ctrl.saveDashboard('', '$ctrl.custom')"><i class="fa fa-cog" aria-hidden="true"></i> Save</a>
          </span>
          <ul class="pull-right">
            <li class="dashboard-edit-btn"><span><i class="fa fa-pencil" aria-hidden="true"></i> Enable dashboard editor</span>
                <toggle-switch 
                               ng-model="$ctrl.switchStatus"
                               on-change="$ctrl.checkForSavedScript()"
                               class="switch-success switch-mini">
                </toggle-switch>
            </li>
          </ul>  
        </div>
      </div>
      <!-- begin slick wrap -->
    <div class="col-xs-12 pdl0 slick-wrap">
          <!-- begin carousel options -->
          <div   class="dark-grey-bg pdt5 pdb5 pdr10 chart-options-wrap">
            <div class="slick-container">
                <slick 
                       settings="$ctrl.slickConfig"
                       infinite="true" 
                       slides-to-show="$ctrl.widgetsConfig.length"
                       slides-to-scroll="0"
                       ng-if="$ctrl.dataLoaded" 
                       init-onload="false"
                       data="$ctrl.dataLoaded"
                       >
                  <div class="slick-item" ng-repeat="item in $ctrl.widgetsConfig" ng-if="item.show != false">
                     <span >
                         <a ng-click="$ctrl.addWidget(item)">
                           <img ng-if="item.imgSrc" ng-src="{{ item.imgSrc }}" class="{{item.imgCls}}" alt="{{ item.label}}" />
                           <i ng-if="item.iconSrc" class="{{ item.iconSrc }}" aria-hidden="true" alt="{{ item.label}}" /></i>
                           <span class="slick-label">{{ item.label }}</span>
                         </a>
                      </span>
                  </div>
                </slick>
             </div>
          </div>
          <!-- end carousel options -->

        <div class="clearfix"></div>

        <!-- begin gridster -->
        <div gridster="$ctrl.gridsterOptions" class="builder">
            <ul>
                <li gridster-item="widget" ng-repeat="widget in $ctrl.dashboard.widgets">
                  <box widget="widget"></box>
                </li>
            </ul>
        </div>
        <!-- end gridster -->
    </div>
    <!-- end slick wrap -->


  </div>
</div>
<!-- end dashboard content -->
