 <scriptr-grid
           columns-definition='[{headerName: "Name", field: "name"},{headerName: "Model", field: "model"},{headerName: "Price", field: "price", type: "numeric"}]' 
           row-data = '[{name: "Toyota", model: "Celica", price: 35000},{name: "Ford", model: "Mondeo", price: 32000},{name: "Porsche", model: "Boxter", price: 72000}]'
           enable-sorting='true'    
           enable-delete-row='true'
           grid-height="500"
           row-model-type='pagination'     
           enable-add-row='true'
           on-cell-value-changed-script='UIComponents/dashboard/frontend/examples/grid/addRow'
           on-delete-row-script='UIComponents/dashboard/frontend/examples/grid/removeRow'
           cell-editable='true'
           enable-client-side-filter='false'
           enable-server-side-filter='true' 
           enable-server-side-sorting='true'
           row-model-selection='multiple'
           pagination-page-size='5'
           transport='wss'>
  </scriptr-grid>