<scriptr-map
             bounce="true"
             heatmap="true"
             default-center="33.888630,35.495480"
             sources-info="vm.sources"
             clustered-view="true"
             cluster-zoom="8"
             path-stroke-opacity="0.5"
             path-stroke-weight="10"
             summary-icons="vm.icons"
             api="UIComponents/dashboard/frontend/examples/map/simulatorData"
             api-params='{"timeframe" : "this_1_years", "limit" : "20"}'
             msg-tag="everyone-main-live"
             geofence-manager="false">
    <div>
        <info-window id="infoWindowTemplate_simulator" template="/UIComponents/dashboard/frontend/examples/map/info_simulator.html" max-width="600"></info-window>
        <info-window id="infoWindowTemplate_stream" template="/UIComponents/dashboard/frontend/examples/map/info_stream.html" max-width="300"></info-window>
    </div>
</scriptr-map>