<scriptr-progressbar
                     class="progress-striped"                
                     stacked='[
                              {
                              value : 50,
                              type : "success",
                              title : "bar1"
                              },
                              {
                              value : 70,
                              type : "warning",
                              title : "bar2",
                              class:"progress-striped active"
                              }
                              ]'>
</scriptr-progressbar>