<scriptr-toggle-switch
                       switch-status="false"
                       knob-label="TV"
                       is-disabled="false"
                       on-label="ON"
                       off-label="OFF"
                       on-switch-change="vm.onChange"
                       publish-api-params="{'id':'132'}"        
                       transport="wss"
                       type="switch-danger"        
                       size="switch-large"
                       msg-tag="toggle"        
                       api="UIComponents/dashboard/frontend/examples/toggleSwitch/getToggleSwitchVal"        
                       >
</scriptr-toggle-switch>