<button ng-show="$ctrl.enableDraw" ng-click="$ctrl.saveAllZones()" data-toggle="tooltip" title="Save all zones">Save</button>
  
<scriptr-notifications icon="$ctrl.icon" has-data="$ctrl.hasData" no-results="$ctrl.noResults" stalled-data="$ctrl.stalledData" use-popover="$ctrl.usePopover" loading-message="{{$ctrl.loadingMessage}}" failure-message="$ctrl.dataFailureMessage" action-message="$ctrl.actionMessage"  action-success="$ctrl.actionSuccess">
</scriptr-notifications>

<leaflet id="{{$ctrl.id}}" lf-center="$ctrl.center" defaults="$ctrl.defaults" markers="$ctrl.markers" layers="$ctrl.layers"  geojson="$ctrl.geojson" controls="$ctrl.controls" width="100%" height="100%" maxbounds="$ctrl.maxBounds"></leaflet>
