<form>
 <div class="row">  
 <div class="col-xs-12 col-sm-9">
      <input type="text" class="form-control input-sm" ng-keyup="$event.keyCode == 13 ? $ctrl.onFilterChanged() : null" ng-model="$ctrl.searchValue"  placeholder="Type text to search..." />
 </div>
 	<div class="col-xs-12 col-sm-3 button-wrapper">
      <button ng-click="$ctrl.onFilterChanged()" class="btn btn-warning btn-sm">Go</button>
 </div>
 </div>
</form>

<div>
  <abn-tree 
            tree-data         = "$ctrl.treeData"
            tree-control      = "$ctrl.treeControl"
            icon-leaf         = "{{$ctrl.iconLeaf}}"
            icon-expand       = "{{$ctrl.iconExpand}}"
            icon-collapse     = "{{$ctrl.iconCollapse}}"
            on-select         = "$ctrl.onSelect(branch)"
            expand-level      = "$ctrl.expandLevel"
            initial-selection = "$ctrl.initialSelection">
  </abn-tree>
</div>
<div ng-show="$ctrl.noResults"><span>no results</span></div>