.markdown-db  {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .markdown-db  {
    padding: 5px;
  }

 .markdown-db  > #content {
    padding: 0px 20px 20px 20px !important;
  }
}

.markdown-db  > #content {
  margin: 0px;
  max-width: 900px;
  border: 1px solid #e1e4e8;
  padding: 10px 40px;
  padding-bottom: 20px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.markdown-db hr {
  color: #bbb;
  background-color: #bbb;
  height: 1px;
  flex: 0 1 auto;
  margin: 1em 0;
  padding: 0;
  border: none;
}

/**
 * Links
 */
.markdown-db a {
  color: #0366d6;
  text-decoration: none; }
 .markdown-db  a:visited {
    color: #0366d6; }
 .markdown-db  a:hover {
    color: #0366d6;
    text-decoration: underline; }

.markdown-db pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

/**
  * Code blocks
  */

.markdown-db code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  word-wrap: break-word;
  padding: .2em .4em;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

.markdown-db pre > code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
  font-size: 100%;
}


/**
 * Blockquotes
 */
.markdown-db blockquote {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 16px;
  border-left-width: 3px;
  padding: 0 1em;
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
.markdown-db blockquote * {
  font-style: normal !important;
  letter-spacing: 0;
  color: #6a737d !important;
}

/**
 * Tables
 */
.markdown-db table {
  border-spacing: 2px;
  display: block;
  font-size: 14px;
  overflow: auto;
  width: 100%;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-db td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-db th {
  font-weight: 600;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-db tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-db table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/**
 * Others
 */

.markdown-db img {
  max-width: 100%;
}

.markdown-db p {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #24292e; }

.markdown-db ul {
  margin-top: 0; }

.markdown-db li {
  color: #24292e;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

.markdown-db li + li {
  margin-top: 0.25em; }

.markdown-db * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #24292e; }

.markdown-db a:visited {
  color: #0366d6; }

.markdown-db h1, .markdown-db h2,.markdown-db h3 {
  border-bottom: 1px solid #eaecef;
  color: #111;
  /* Darker */ }