@media screen and (min-width: 480px) {
    
}

@media screen and (min-width: 560px) {
  .slick-slide a[ng-click] {width: 40px; height: 35px;}
  .slick-slide img {width: 54%;}
  .slick-slide .odometer-img, .slick-slide .gauge-img {width: 60%; padding-top: 4px;}
  .col-md-p0 {padding-right: 15px;padding-left: 15px;}

}

@media screen and (min-width: 768px) {
	ul {padding-left: 20px;}
	.btn.btn-block {width: 100%!important;}
}

@media screen and (min-width: 833px) {
  .slick-slide a[ng-click] {width: 50px; height: 40px;}
  .slick-slide img {width: 54%;}
  .slick-slide .odometer-img, .slick-slide .gauge-img {width: 60%; padding-top: 4px;}
}

@media screen and (min-width: 561px) and (max-width: 832px) { 
  .slick-slide img {max-width: 100%;}
  .slick-label {line-height: inherit; display: block;}
}
