<scriptr-notifications icon="$ctrl.icon" has-data="$ctrl.hasData" no-results="$ctrl.noResults" stalled-data="$ctrl.stalledData" use-popover="$ctrl.usePopover" loading-message="{{$ctrl.loadingMessage}}" failure-message="$ctrl.dataFailureMessage" action-message="$ctrl.actionMessage"  action-success="$ctrl.actionSuccess">
</scriptr-notifications>

<div class="scriptrAlertWidget {{$ctrl.wrapperClass}}" ng-if="$ctrl.values.length > 0">
    <h3 ng-if="$ctrl.title"><i class="{{$ctrl.icon}}" ng-if="$ctrl.icon != null"></i>{{$ctrl.title}}</h3>
    <div class="sliderWrapper">
        <slick 
               settings="$ctrl.slickConfig"
               slides-to-show={{$ctrl.slidesToShow}}
               slides-to-scroll={{$ctrl.slidesToScroll}}
               >
            <div class="slick-item" ng-repeat="item in $ctrl.values" >
                <ng-scriptr-alert ng-if="item.message" ng-model="item.message" type="{{item.type}}" time="{{item.time}}"></ng-scriptr-alert>
            </div>
        </slick>
    </div>
</div>