.morris-chart-dimension {width: 100%; height: 100%;}
.morris-chart-container,.fullHeight, .fullHeight div {height: 100%;}
.morris-hover.morris-default-style,.morris-hover.morris-default-style div,.morris-chart-legend div {height: auto;}


.morris-chart-wrapper.with-legend {
  width: calc(100% - 100px);
  float: left;
}

.morris-chart-legend ul li span {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.morris-chart-legend div {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.morris-chart-legend::-webkit-scrollbar {
  width: 12px;
}

.dygraphs-legend {
  width: 110px;
}

.morris-chart-legend ul {
  padding: 0;
  list-style: none;
}

.morris-chart-wrapper.with-legend {
  width: calc(100% - 100px);
  float: left;
}

.morris-chart-legend {
  background: #fff;
  margin-top: 22px;
  width: 100px;
  text-align: left;
  float: right;
  overflow-y: auto;
  font-size: 12px;
}
.morris-chart-legend::-webkit-scrollbar {
  width: 12px;
}
.morris-chart-legend::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.morris-chart-legend::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}