<div class="morris-chart-container">
    <scriptr-notifications icon="$ctrl.icon" has-data="$ctrl.hasData" no-results="$ctrl.noResults" stalled-data="$ctrl.stalledData" loading-message="{{$ctrl.loadingMessage}}" use-popover="$ctrl.usePopover" failure-message="$ctrl.dataMessage" action-message="$ctrl.actionMessage"  action-success="$ctrl.actionSuccess">
    </scriptr-notifications>


    <div ng-if="$ctrl.datas.length > 0"  class="fullHeight">
         <div ng-if="$ctrl.type == 'line'">
            <div class="morris-chart-wrapper" ng-class="($ctrl.showLegend == 'true' && $ctrl.legendType != 'hover') ? 'with-legend' : ' ' ">  
                  <div 
                     line-data='$ctrl.datas'
                     line-xkey= {{$ctrl.xkey}}
                     line-ykeys='$ctrl.ykeys'
                     line-labels='$ctrl.labels'
                     line-colors='$ctrl.colors'
                     line-line-width='$ctrl.lineWidth'
                     line-point-size='$ctrl.pointSize'
                     line-point-fill-colors='$ctrl.pointFillColors'
                     line-point-stroke-colors='$ctrl.pointStrokeColors' 
                     line-ymax='$ctrl.ymax'
                     line-ymin='$ctrl.ymin'
                     line-smooth='$ctrl.smooth'
                     line-hide-hover='$ctrl._hideHover'
                     line-hover-callback='$ctrl.onHoverCallback'
                     line-parse-time ='$ctrl.parseTime'
                     line-units='$ctrl.units'
                     line-post-units='$ctrl.postUnits'
                     line-pre-units='$ctrl.preUnits'
                     line-date-format='$ctrl.onDateFormat'
                     line-x-labels='$ctrl.xlabels'
                     line-x-label-format='$ctrl.onXlabelFormat'
                     line-x-label-angle = '$ctrl.xlabelAngle'
                     line-y-label-format ='$ctrl.onYlabelFormat'
                     line-goals='$ctrl.goals'
                     line-goal-stroke-width ='$ctrl.goalStrokeWidth'
                     line-goal-line-colors='$ctrl.goalLineColors'
                     line-events='$ctrl.events'
                     line-event-stroke-width='$ctrl.eventStrokeWidth'
                     line-event-line-colors='$ctrl.eventLineColors'
                     line-continuous-line='$ctrl.continuousLine'
                     line-axes='$ctrl.axes'
                     line-grid='$ctrl.grid'
                     line-grid-text-color='$ctrl.gridTextColor'
                     line-grid-text-size='$ctrl.gridTextSize',
                     line-grid-text-family='$ctrl.gridTextFamily'
                     line-grid-text-weight='$ctrl.gridTextWeight'
                     line-grid-line-color='$ctrl.gridLineColor'
                     line-grid-stroke-width='$ctrl.gridStrokeWidth'
                     line-fill-opacity='$ctrl.fillOpacity'
                     line-resize='$ctrl.resize'
                     line-chart
                     >
                </div>
          </div>
          <div class="morris-chart-legend" ng-if="$ctrl.showLegend && $ctrl.legendType != 'hover'">
             <div id="date_{{$ctrl.ref}}">{{$ctrl.legendDate}}</div>
             <ul ng-repeat="entry in $ctrl.legendStructure">
                 <li>
                     <span><i class="fa fa-square" ng-style="{ 'color' : '{{entry.color}}'}"></i> {{entry.label}}</span>
                     <span  ng-style="{ 'color' : '{{entry.color}}'}" id="value_{{$index}}_{{$ctrl.ref}}">{{entry.value}}</span>
                 </li>
             </ul>
      		</div>
        </div>
        
      

         <div ng-if="$ctrl.type == 'bar'">
            <div class="morris-chart-wrapper" ng-class="($ctrl.showLegend == 'true' && $ctrl.legendType != 'hover') ? 'with-legend' : ' ' ">  
                <div 
                     bar-data='$ctrl.datas'
                     bar-x= {{$ctrl.xkey}}
                     bar-y='$ctrl.ykeys'
                     bar-labels='$ctrl.labels'
                     bar-colors='$ctrl.colors'
                     bar-resize="$ctrl.resize"
                     bar-stacked="$ctrl.stacked"
                     bar-hide-hover='$ctrl._hideHover'
                     bar-hover-callback='$ctrl.onHoverCallback'
                     bar-grid='$ctrl.grid'
                     bar-grid-text-color='$ctrl.gridTextColor'
                     bar-grid-text-size='$ctrl.gridTextSize',
                     bar-grid-text-family='$ctrl.gridTextFamily'
                     bar-grid-text-weight='$ctrl.gridTextWeight'
                     bar-grid-line-color='$ctrl.gridLineColor'
                     bar-grid-stroke-width='$ctrl.gridStrokeWidth'
                     bar-axes='$ctrl.axes'
                     bar-ymax='$ctrl.ymax'
                     bar-ymin='$ctrl.ymin'
                     bar-goals='$ctrl.goals'
                     bar-goal-stroke-width ='$ctrl.goalStrokeWidth'
                     bar-goal-line-colors='$ctrl.goalLineColors'
                     bar-x-label-angle = '$ctrl.xlabelAngle'
                     bar-y-label-format='$ctrl.onYlabelFormat'
                     bar-date-format='$ctrl.onDateFormat' 
                     bar-x-label-format='$ctrl.onXlabelFormat'
                     bar-parse-time ='$ctrl.parseTime'
                     bar-events='$ctrl.events'
                     bar-event-stroke-width='$ctrl.eventStrokeWidth'
                     bar-event-line-colors='$ctrl.eventLineColors'
                     bar-post-units='$ctrl.postUnits'
                     bar-pre-units='$ctrl.preUnits'
                     bar-horizontal='$ctrl.horizontal'
                     bar-bar-size='$ctrl.barSize'
                     bar-bar-size-ratio='$ctrl.barSizeRatio'
                     bar-bar-gap='$ctrl.barGap'                     
                     bar-bar-opacity='$ctrl.barOpacity'            
                     bar-bar-radius='$ctrl.barRadius'             
                     bar-chart>
                </div>
            </div>
          <div class="morris-chart-legend" ng-if="$ctrl.showLegend && $ctrl.legendType != 'hover'">
                <div id="date_{{$ctrl.ref}}">{{$ctrl.legendDate}}</div>
                <ul ng-repeat="entry in $ctrl.legendStructure">
                    <li>
                        <span><i class="fa fa-square" ng-style="{ 'color' : '{{entry.color}}'}"></i> {{entry.label}}</span>
                        <span  ng-style="{ 'color' : '{{entry.color}}'}" id="value_{{$index}}_{{$ctrl.ref}}">{{entry.value}}</span>
                    </li>
                </ul>
            </div>
        </div>

         <div ng-if="$ctrl.type == 'area'">
            <div class="morris-chart-wrapper" ng-class="($ctrl.showLegend == 'true' && $ctrl.legendType != 'hover') ? 'with-legend' : ' ' ">  
                <div
                     area-chart 
                     line-colors='$ctrl.colors'
                     area-data='$ctrl.datas'
                     area-xkey={{$ctrl.xkey}}
                     area-ykeys='$ctrl.ykeys'
                     area-labels='$ctrl.labels'
                     area-line-width='$ctrl.lineWidth'
                     area-point-size='$ctrl.pointSize'
                     area-point-fill-colors='$ctrl.pointFillColors'
                     area-point-stroke-colors='$ctrl.pointStrokeColors' 
                     area-ymax='$ctrl.ymax'
                     area-ymin='$ctrl.ymin'
                     area-smooth='$ctrl.smooth'
                     area-hide-hover='$ctrl._hideHover'
                     area-hover-callback='$ctrl.onHoverCallback'
                     area-parse-time ='$ctrl.parseTime'
                     area-units='$ctrl.units'
                     area-post-units='$ctrl.postUnits'
                     area-pre-units='$ctrl.preUnits'
                     area-date-format='$ctrl.onDateFormat' 
                     area-x-labels='$ctrl.xlabels'
                     area-x-label-format='$ctrl.onXlabelFormat'
                     area-x-label-angle = '$ctrl.xlabelAngle'
                     area-y-label-format ='$ctrl.onYlabelFormat'
                     area-goals='$ctrl.goals'
                     area-goal-stroke-width ='$ctrl.goalStrokeWidth'
                     area-goal-line-colors='$ctrl.goalLineColors'
                     area-events='$ctrl.events'
                     area-event-stroke-width='$ctrl.eventStrokeWidth'
                     area-event-line-colors='$ctrl.eventLineColors'
                     area-continuous-line='$ctrl.continuousLine'
                     area-axes='$ctrl.axes'
                     area-grid='$ctrl.grid'
                     area-grid-text-color='$ctrl.gridTextColor'
                     area-grid-text-size='$ctrl.gridTextSize',
                     area-grid-text-family='$ctrl.gridTextFamily'
                     area-grid-text-weight='$ctrl.gridTextWeight'
                     area-grid-line-color='$ctrl.gridLineColor'
                     area-grid-stroke-width='$ctrl.gridStrokeWidth'
                     area-fill-opacity='$ctrl.fillOpacity'
                     area-resize='$ctrl.resize'
                     area-behave-like-line='$ctrl.behaveLikeLine'>
                </div>
            </div>
          <div class="morris-chart-legend" ng-if="$ctrl.showLegend && $ctrl.legendType != 'hover'">
                <div id="date_{{$ctrl.ref}}">{{$ctrl.legendDate}}</div>
                <ul ng-repeat="entry in $ctrl.legendStructure">
                    <li>
                        <span><i class="fa fa-square" ng-style="{ 'color' : '{{entry.color}}'}"></i> {{entry.label}}</span>
                        <span  ng-style="{ 'color' : '{{entry.color}}'}" id="value_{{$index}}_{{$ctrl.ref}}">{{entry.value}}</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div ng-if="$ctrl.type == 'donut'">
            <div class="morris-chart-wrapper" ng-class="($ctrl.showLegend == 'true' && $ctrl.legendType != 'hover') ? 'with-legend' : ' ' " >  
            <div class="morris-chart-dimension"
                 donut-data='$ctrl.datas'
                 donut-hover-callback='$ctrl.onHoverCallback'
                 donut-label-color= '$ctrl.labelColor' 
                 donut-background-color='$ctrl.backgroundColor' 
                 donut-colors='$ctrl.colors' 
                 donut-formatter="$ctrl.donutFormatter(y,data)"
                 donut-resize="$ctrl.resize"
                 donut-chart>
            </div> 
			<div class="morris-chart-legend" ng-if="$ctrl.showLegend && !$ctrl.noResults">
              <ul ng-repeat="entry in $ctrl.legendStructure">
                  <li>
                      <span><i class="fa fa-square" ng-style="{ 'color' : '{{entry.color}}'}"></i> {{entry.label}}</span>
                      <span  ng-style="{ 'color' : '{{entry.color}}'}" id="value_{{$index}}_{{$ctrl.ref}}">{{entry.value}}</span>
                  </li>
              </ul>
          </div>
            </div>
        </div>
    </div>
</div>