body {background: #eee;}
/*svg {width: 100%!important;}*/
.mb10 {margin-bottom: 10px;}
.box-shadow {box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05); text-align: center; min-height: 370px;}
.bg-white {background: #fff;}
.loading {margin: 30px 0; display: inline-block; width: 100%;}
.gauge {margin: 0 auto;}