<div ng-non-bindable="">
    <!-- begin vehicle summary -->
    <section class="col-xs-12 bg-white-light pdt10 pdb10 index-summary">
        <div class="col-xs-12 col-sm-3 text-center pdl0 pdr0">
            <div id="{{marker.details.id.value}}state" class="icon bg-white {{marker.details.state.value}}">
            </div>
            <div class="nb bold"><span>{{marker.details.id.value}}</span></div>
            <small>Bic Code</small>
        </div>     
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-green" ng-bind-html="summaryIcons.company">
            </div>							
            <div class="nb bold">{{marker.details.company.value || "N/A"}}</div>
            <small>Company</small>
        </div>							
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-orange" ng-bind-html="summaryIcons.containerType">
            </div>							
            <div class="nb bold">{{marker.details.location || "N/A"}}</div>
            <small>Container type</small>
        </div>	
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-blue" ng-bind-html="summaryIcons.time">
            </div>
            <div class="nb bold">{{(marker.details.timestamp | date:'MM/dd/yyyy hh:mm:ss') || "N/A"}}</div>
        </div>
        <div class="clearfix mb10"></div>
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-green" ng-bind-html="summaryIcons.humidity">
            </div>
            <div class="nb bold">{{marker.details.humidity.value || "N/A"}} %</div>
            <small>Humidity</small>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-orange" ng-bind-html="summaryIcons.battery">
            </div>
            <div class="nb bold">{{marker.details.batteryLevel.value || "N/A"}} %</div>
            <small>Battery</small>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-yellow" ng-bind-html="summaryIcons.pressure"></div>
            <div class="nb bold">{{marker.details.pressure.value || "N/A"}} mbar</div>
            <small>Pressure</small>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-blue" ng-bind-html="summaryIcons.temperature">
            </div>
            <div class="nb bold">{{marker.details.temperature.value || "N/A"}} &deg;C</div>
            <small>Temperature</small>
        </div>
    </section>     
    <a type="button" href="#/realTime" ng-click="vm.showAssetDashboard(marker.assetId)" class="btn btn-primary mt15" >View Dashboard</a>
    <a type="button" ng-click="vm.openEditor(vm.editorUrl,  vm.marker.source, vm.marker.plate, item.key)" class="btn btn-primary mt15" >Edit Lock Rule</a> 
    <a type="button" ng-click="vm.openTemperatureEditor(vm.editorDecosionTableUrl,  vm.marker.source, vm.marker.plate, item.key)" class="btn btn-primary mt15" >Edit Temperature Rule</a>   
    <a type="button" ng-click="vm.tamperLock()" class="btn btn-primary mt15">Simulate tampering</a>
    <a type="button" ng-click="vm.lockUnlock()" class="btn mt15" ng-class="vm.marker.eventClass">Simulate {{marker.availableEvent}}</a>
</div>