<scriptr-map
             sources-info="vm.sources"
             clustered-view="true"
             cluster-zoom="8"
             path-stroke-opacity="0.5"
             path-stroke-weight="10"
             summary-icons="vm.icons"
             api="locks/api/getLatestLocksStates"
             api-params='{"timeframe" : "this_1_years", "limit" : "20"}'
             msg-tag="everyone-main-live"
             geofence-manager="true"
             on-select-asset="vm.onSelectAsset">
  <div>
    <info-window id="infoWindowTemplate_simulator" template="/smartContainer/html/views/map/info_simulator.html" max-width="600"></info-window>
    <info-window id="infoWindowTemplate_nucleo" template="/smartContainer/html/views/map/info_simulator.html" max-width="600"></info-window>  
    <info-window id="infoWindowTemplate_stream" template="/UIComponents/dashboard/frontend/examples/map/info_stream.html" max-width="300"></info-window>
  </div>
</scriptr-map>
