body {
    font-family: 'texgyreherosregular'; 
    color: #283746; 
}

@font-face {
    font-family: 'texgyreherosregular';
    src: url('//s3.amazonaws.com/scriptr-cdn/fe/fonts/texgyreheros-regular-webfont.woff2') format('woff2'),
         url('//s3.amazonaws.com/scriptr-cdn/fe/fonts/texgyreheros-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreherosbold';
    src: url('//s3.amazonaws.com/scriptr-cdn/fe/fonts/texgyreheros-bold-webfont.woff2') format('woff2'),
         url('//s3.amazonaws.com/scriptr-cdn/fe/fonts/texgyreheros-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.element {display: flex; }
.doors-img {border-radius: 8px 0 0 8px; background-color: rgba(0,0,0,0.2); }

.btn-primary {background-color: #ff8c00;border-color: #ff8c00;}
.btn-primary:hover {background-color: #ff8c00; border-color: #d87702;}

/* Additional CSS for styling */
html, body, .wrap {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrap h3 { font-family: 'texgyreherosbold'; text-align: center;}

/*** Form centering ***/
.form-wrap {
    background: #fff;
    box-shadow: 0 0 3px #ddd;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;}

/*** Override bootstrap input field ***/
.form-control {
    background:#eaeaea;
    border: none;
    color: #444;
    border-radius: 0;
}

.form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #fff,0 0 4px #e4710d;
    box-shadow: inset 0 1px 1px #fff,0 0 4px #e4710d;
}

.bckimg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.6;
      background: rgba(0, 0, 0, 0.1);
}
.opacity {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;}

/*** Override boostrap button styles ***/
.btn-default {
  background: #48b8de;
  border: none;
  color: #fff;
  margin: 0 0 20px;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover  {
  background: #4db1de;
  color: #fff;
  border: none;
  outline: 0;
}


/*** Override bootstrap validator error colors ***/
.has-error .form-control {border-color: #d25252; box-shadow: none;}
.has-error .form-control-feedback,
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #d25252;
}

/*** Override bootstrap validator success colors ***/
.has-success .form-control {border-color: #039c27;}
.has-success .form-control-feedback {
    color: #039c27;
}


@media only screen and (max-width: 480px) {
    html, body {height: auto;}
    .element {display: block;}
}

.form-wrap { padding: 40px 30px; }
.loginForm {padding-top: 15px; }
.login-icon { position: absolute; top:15px; left:15px; font-size: 16px; }
.form-control {padding: 12px 42px 12px 35px;height: auto;border-radius: 3px;box-shadow: none!important;}
.form-control:focus {box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;}
.form-control-feedback {top: 5px;}
.btn-default { border-radius: 8px; padding: 12px 0;}
.doors-img img{ margin: auto; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 90%;}
.powered {position: absolute; bottom: 12px; right: 24px;}

/* for new login */
#forgot-password-wrap{
    display: none;
}