.loginHeader {margin-bottom: 40px;text-align: left;}
h3 {text-align: left;margin-top: 0;}
.language .form-group {text-align: left;}
.brandImg {margin-bottom: 40px;width:30%; height: auto;}
.cont {
	overflow-x: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 65%;
    border-radius: 8px;
}
 .form {
    position: relative;
    width: 65%;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF;
    padding: 0 15px;
}

.form form {
    overflow-y: auto;
    padding: 0 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form form > * {
    width: 100%;
}

.sign-up {
    width: 100%;
}

 .sub-cont {
     overflow: hidden;
     position: absolute;
     left: 65%;
     top: 0;
     width: 100%;
     height: 100%;
     padding-left: 35%;
     background: #fff;
     transition: transform 1.2s ease-in-out;
}
 .cont.s--signup .sub-cont {
     transform: translate3d(-65%, 0, 0);
}
 .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
 .img:before {
     content: '';
     position: absolute;
     right: 0;
     top: 0;
     width: 900px;
     height: 100%;
     background-size: cover;
     background-color: #f48220;
     transition: transform 1.2s ease-in-out;
}
 .img:after {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: #f48220;
}
.img .formWrapper {
    position: relative;
    width: 100%;
    height: 100px;
}
 .cont.s--signup .img:before {
     transform: translate3d(65%, 0, 0);
}
 .img__text {
     z-index: 2;
     position: absolute;
     width: 100%;
     padding: 0 20px;
     text-align: center;
     color: #fff;
     transition: transform 1.2s ease-in-out;
}
 .img__text h2 {
     margin-bottom: 10px;
     font-weight: normal;
}
 .img__text p {
     font-size: 14px;
     line-height: 1.5;
}
 .cont.s--signup .img__text.m--up {
     transform: translateX(520px);
}
 .img__text.m--in {
     transform: translateX(-520px);
}
 .cont.s--signup .img__text.m--in {
     transform: translateX(0);
}
 .img__btn {
     overflow: hidden;
     z-index: 2;
     position: relative;
     width: 100px;
     height: 36px;
     margin: 0 auto;
     background: transparent;
     color: #fff;
     text-transform: uppercase;
     font-size: 15px;
     cursor: pointer;
}
 .img__btn:after {
     content: '';
     z-index: 2;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     border: 2px solid #fff;
     border-radius: 4px;
}
 .img__btn span {
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     transition: transform 1.2s;
}
 .img__btn span.m--in {
     transform: translateY(-72px);
}
 .cont.s--signup .img__btn span.m--in {
     transform: translateY(0);
}
 .cont.s--signup .img__btn span.m--up {
     transform: translateY(72px);
}
 .sign-in {
     transition-timing-function: ease-out;
}
 .sign-in > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .cont.s--signup .sign-in {
     transition-timing-function: ease-in-out;
     transition-duration: 1.2s;
     transform: translate3d(65%, 0, 0);
}
 .sign-up {
     transform: translate3d(-900px, 0, 0);
}
 .cont.s--signup .sign-up {
     transform: translate3d(0, 0, 0);
}

.outlined-btn {
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .cont {
        height: auto;
        width: 100%;
        top: auto;
        left: auto;
        transform: none;
        border-radius: 0;
    }
    .form {
        width:100%;
        height: auto;
        padding: 40px 15px;
    }
    .sub-cont {
        position: relative;
        left: auto;
        height: auto;
        background-color: #ff8c00;
        color: #FFF;
        padding: 40px 15px;
    }
    .sub-cont h3 {
        margin-bottom: 10px;
        font-weight: normal;
        text-align: center;
    }
    .sub-cont p {
        margin-bottom: 10px;
        text-align: center;
    }
 
}
