* {
  -webkit-font-smoothing: antialiased;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.past-users-filter {
    cursor:pointer;
    margin-left:20px;
}
.no-results {
  padding-left:20px;
  padding-bottom:10px;
}

/*matched result from search*/
.matched {
    font-weight:700 !important;
}

/*wraps entire selector*/
.hierarchy-wrap {
    background: #FFFFFF;
    border:1px solid #ccc;
    border-radius:5px;
}
/* past users + search */
.hierarchy-header {
    padding:10px;
}

.hierarchy-header .search-wrap {
    margin-bottom:5px;
}

.angular-ui-tree-handle {
    color: black;
    padding: 5px;
    font-weight:normal;
    cursor:pointer;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes { padding-left:0; }
.angular-ui-tree-nodes .angular-ui-tree-nodes .node-embed {
    padding-left:10px;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes .angular-ui-tree-nodes .node-embed {
    padding-left:20px;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes .angular-ui-tree-nodes .angular-ui-tree-nodes .node-embed {
    padding-left:30px;
}


.angular-ui-tree-handle:hover {
    color: black;
    background: #f5f5f5;
}

.node-header {
    padding-right:5px;
}

.nodeActive {
    background:#deeaf9;
}

.nodeActive:hover {
    background: #428bca;
    color:#FEFEFA;
}

.angular-ui-tree-handle i {
    color:black;
}


