
<div class="acl-controls">
    <div class="modal-header">
        <h3 class="modal-title">Access Control List</h3>
    </div>
    <div class="modal-body">
        <div ng-if="$ctrl.show" uib-alert ng-class="'alert-' + ( $ctrl.message.type || 'warning')  + ' m10'" close="$ctrl.closeAlert()" dismiss-on-timeout="5000">{{$ctrl.message.content}}</div>
        <h5 class="text-info">List of groups and devices allowed to run the script <a href="javascript:void(0);" class="text-primary" uib-popover-html="$ctrl.popoverContent" popover-placement="right"><i class="fa fa-question-circle"></i></a> </h5>
        <div ng-show="$ctrl.showMsg" class="col-xs-12 center-div alert fadeIn animated alert-info">
            <div class="col-xs-9 pdl0">
                <div class="mt8 ml10"><span>Access permission to the "anonymous" predefined group allows anyone to serve the file. Adding it to your access control list will automatically remove any other groups or devices. Are you sure you want to continue?</span></div>
            </div>
            <div class="col-xs-3 pdr0 text-right">
                <button ng-click="$ctrl.removeAnonymousAccess()" type="button" class="btn btn-default btn-sm mr5">No</button>
                <button ng-click="$ctrl.addAnonymousAccess()" type="button" class="btn btn-primary btn-sm">Yes</button>
            </div>
        </div>
        <scriptr-autocomplete
                              id="devicesList"                
                              placeholder="Select a user/group"
                              pause="400"
                              hide-list="false"
                              search-fields="code"
                              default-set-object="$ctrl.defaultSetObject"
                              selected-object="$ctrl.onSelect"
                              title-field="code"
                              objects="$ctrl.users"                
                              clear-selected="true"                
                              description-field="description"                
                              image-field="pic"
                              list-selected-object="true"                
                              minlength="0"
                              text-no-results="No results"                
                              text-searching="Searching..."
                              transport="https"
                              on-format-data="$ctrl.callback"
                              api="UIComponents/dashboard/frontend/examples/list/getDevices"
                              input-class="form-control form-control-small">
        </scriptr-autocomplete>  
        <div class="clearfix"></div>
        <div class="italic text-muted fnt12 mt10">
            <i class="fa fa-info-circle" aria-hidden="true"></i><span id="permissionsNote"> Note that removing scriptr device from the access control list will prevent you from serving the file from the IDE. </span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$ctrl.onCancel()">Close</button>
        <button type="button" class="btn btn-warning" ng-click="$ctrl.updateFileACL()">Save changes</button>
    </div>
</div>