  <div class="col-xs-12">
    <!-- begin row -->
    <div class="row">
      <!-- begin summary -->
      <div class="col-xs-12 panel stuck summary radius0">
        <section>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="icon bg-green" ng-bind-html="vm.header.icons.carType">
            </div>
            <div class="nb fnt16">{{vm.make}}</span>&nbsp;{{vm.model}}<span ng-if="!vm.make"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></div>
          <small>Car type</small>
          </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
          <div class="icon bg-blue" ng-bind-html="vm.header.icons.carId">

          </div>
          <div class="nb fnt16">{{vm.vehicleId}}<span ng-if="!vm.vehicleId"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></div>
          <small>Vehicle Id</small>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="icon bg-orange" ng-bind-html="vm.header.icons.time">

          </div>
          <div class="nb fnt16">{{(vm.timestamp | date:'MM/dd/yyyy hh:mm:ss')}}<span ng-if="!vm.timestamp"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></div>
          <small>Time</small>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="icon bg-yellow"  ng-bind-html="vm.header.icons.address">
          </div>
          <!-- testing on mileage since address is always loaded with in the same call, but isn't always loaded -->
          <div class="nb fnt16">{{vm.address}}<span ng-if="!vm.address"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></div>
          <small>Address</small>
        </div>
        </section>
    </div>
    <!-- end summary -->
  </div> 
 </div>