  

  <!-- start SUPPORT -->

  <div class="sticky-container support-box">
    <form class="sticky-form lightFormValidation" id="sendEmailFrm" onsubmit="return false;">
      <div class="close-form close-icon"><a href="javascript:void(0);"><i class="fa fa-times"></i></a></div>
      <h5>Support Ticket</h5>

      <!-- begin error -->	
      <div class="contactErrorMessage mb0 center-div alert fadeIn animated alert-danger" style="display: none;">
        <div class="row">
          <div class="col-xs-11">We are currently unable to send your message. Please try again later or send us an email at <a href="mailto:info@scriptr.io" >info@scriptr.io</a>.</div>
          <div class="col-xs-1 text-right">
            <button type="button" class="close" onclick="hideContactTErrorMessage();"><i class="fa fa-close"></i></button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>	
      <div class="form-group has-feedback">
        <label class="control-label">Subject</label>
        <input type='text' class="form-control" maxlength='120' name='subject' tabindex="4" id="subject" value=''/> 
      </div>
      <div class="form-group has-feedback">
        <label class="control-label">Message</label>
        <textarea id="messageInp" class="form-control" rows="3" maxlength="500" tabindex="6" name="messageInp" id="messageInp" type="text"  class="form-control" tabindex="3"></textarea>
      </div>
      <input type="text" style="display:none" name="action" value="subscribe" />
      <div class="form-group has-feedback">
        <div class="pull-right button-group">
          <btn class="btn-primary btn sendBtn" tabindex="7" id="createTicketBtn">Create ticket</btn>
          <btn class="btn-primary btn loadBtn" style="display:none" tabindex="4"  disabled >
            <i class="fa fa-spinner fa-pulse fa-fw text-white"></i> Sending...</btn>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
  <div class="sticky-container-success support-box">
    <form class="sticky-form">
      <div class="close-form close-icon"><a href="javascript:void(0);"><i class="fa fa-times"></i></a></div>
      <h5>Message Sent</h5>
      <div class="text-center"><img class="img-center" src="https://www.scriptr.io/support/sticky-success.png" /></div>
    </form>
  </div>
  <div class="sticky-button">
    <btn class="btn-primary btn"><span><i class="fa fa-envelope"></i></span>Create Ticket</btn>
  </div>
  <!-- END SUPPORT -->