<div role="tabpanel" class="tab-pane fade in" id="threshold">
    <h5 class="box-title text-uppercase fntmontessart">Nucleo Accelerometer Threshold Alert Range</h5>
    <h6>Set the threshold, above which you will start receiving alerts. <h7>Alerts will be addressed to the emails & mobiles defined on the notification settings.</h7></h6>
    <scriptr-slider
                    transport='https'
                    min='2'
                    floor='300'
                    min-limit='null'
                    max-limit='null'
                    ceil='1000'
                    step='1'
                    vertical='false'
                    show-ticks='false'
                    http-method='GET'
                    api='nucleo/api/saveAlertThreshold'
                    ticks-array='[300,400,500,600,700,800,900,999]'
                    show-selection-bar-from-value='0'
                    on-format-data='vm.sliderFormatData4'
                    ></scriptr-slider> 
</div>