<div ng-include="'/resources/html/views/dashboard/summary.html'"></div>
<scriptr-grid
              columns-definition= "vm.colDef" 
              row-model-type='virtual'
              pagination='false'
              suppress-filter='false'
              enable-sorting='false'
              cell-editable='true'
              enable-client-side-filter='false'
              enable-server-side-filter='false' 
              enable-server-side-sorting='false'
              row-model-selection='multiple'
              pagination-page-size='50'
              transport='https' 
              api='locks/zohoTicketing/api/listDeviceTickets'
              api-params="vm.gridParams"
              on-format-data="vm.ticketsCallback">
</scriptr-grid>
