.ag-bootstrap:focus {outline: 0;}
.ag-bootstrap {font-family: "Josefin Sans",sans-serif!important;}
.ag-bootstrap .ag-body {background-color: #fff!important;}
.ag-bootstrap .ag-header-cell-label {padding: 2px 2px!important;}
.ag-bootstrap .ag-header {border-bottom: 2px solid #ddd!important;}
.ag-bootstrap .ag-header-cell {text-align: left!important;}
.ag-bootstrap .ag-row {border-bottom: 1px solid #ddd!important;}
.ag-bootstrap .ag-cell-not-inline-editing {padding: 2px 4px 4px 4px!important;}
.ag-bootstrap .ag-paging-panel {border-top: 2px solid #ddd!important;}
.ag-bootstrap .ag-paging-button {background: #eee; border: 1px solid #ddd;}
.ag-bootstrap .ag-paging-row-summary-panel {color: #888;}
.ag-bootstrap .ag-menu {font-family: "Josefin Sans",sans-serif!important; border: 1px solid #ddd!important;}
.ag-bootstrap .ag-filter-select {width: 95%; height: 25px;}