<div class="filter-bar">
  <form>
    <div ng-hide= {{$ctrl.hideClientFilter}} class="form-group col-xs-12 col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">Client filtering</div>
           <input type="text" class="form-control" ng-change="$ctrl.onFilterChanged()" ng-model="$ctrl.quickFilterValue"  placeholder="Type text to filter..." />
       </div>
    </div>   
    <div ng-hide= {{$ctrl.hideServerFilter}} class="form-group col-xs-12 col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">Server filtering</div>
			<input type="text" class="form-control" ng-model="$ctrl.gridOptions.quickFilterText" placeholder="Type text to filter..." />
      </div>
    </div>   
  </form>   
</div>
    

<div class="clearfix"></div>
<div class="col-xs-12">
  <div ag-grid="$ctrl.gridOptions" class="ag-bootstrap" style="height: 80%;"></div>
</div>


  
