<html ng-app="myApp">

<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="odometer.car.css">
    <script src="odometer.min.js"></script>
    <script src="angular.odometer.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
    <script src="//cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>
    <script src="/UIComponents/wsProvider.js"></script>
    <script src="/UIComponents/httpProvider.js"></script>
    <script src="/UIComponents/dashboard/frontend/components/odometer/odometer.js"></script>
</head>  
  
<body>
  
  <script>
      var myApp= angular.module("myApp", ["WsClient", "HttpClient", "Odometer"])
      angular.module('Odometer').config(["wsClientProvider",function (wsClientProvider) {
        wsClientProvider.setToken("VzUwRURDNDQ2MQ==");
        wsClientProvider.setPublishChannel("requestChannel");
        wsClientProvider.setSubscribeChannel("responseChannel");
      }]);
    
      angular.module('Odometer').config(["httpClientProvider",function (httpClientProvider) {
        httpClientProvider.setBaseUrl("https://component.scriptrapps.io");
        httpClientProvider.setToken("VzUwRURDNDQ2MQ==");
      }]);
  
</script>
   <div style="font-size: 43px; padding-top: 65px;">
    <scriptr-odometer
    provider='http'
    api='UIComponents/dashboard/frontend/components/odometer/getOdometerVal'
    theme='car'
    animation='count'
    duration='5000'> 
    </scriptr-odometer></div>
  
</body>

</html>